#initially-showing {
  display: none
}

.clickable, .showsecond, .showthird, .showfourth {
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

.second {
  display: none;
}

.third {
  display: none;
}

.fourth {
  display: none;
}

.showtext {
  cursor: pointer;
  color: #0088cc;
}

.showtext:hover {
  text-decoration: underline;
}

.light-background {
  background-color: #DCDCDC;
  color: #434343;
}

.dark-background {
  color: #DCDCDC;
  background-color: #434343;
}

.box-text {
  border: solid black 2px;
}
